.header{
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}

.header__logo{
	width: 88px;
	height: auto;
	margin-right: 4.313em;
}

.header__menu{
	display: flex;
	flex-direction: row;
}

.header__menu__item{
	user-select: none;
	cursor: pointer;
	transition: 0.2s all ease;
	font-family: 'Raleway', sans-serif;
	font-size: 1.313rem;
	font-weight: 400;
	list-style-type: none;
	margin-right: 1.7rem;
	color: var(--robotics-dark);
	transition: 0.1s all ease;
}

.header__menu__item:hover{
	color: var(--robotics-accent);
}

.header__menu__item--active{
	color: var(--robotics-accent);
}

.header__menu__item i{
	font-size: 1.013rem;
	opacity: 0.8;
}

.header__menu__dropdown{
	position: relative;
}


.header__menu__dropdown section{
	border-radius: 15px;
	background-color: var(--robotics-white);
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 35px;
	left: -16px;
}

.header__menu__dropdown__item{
	color: var(--robotics-dark);
	background-color: var(--robotics-white);
	padding: 4px 10px 4px 10px;
	cursor: pointer;
	transition: 0.2s all ease;
	white-space: nowrap;
	list-style-type: none;
	font-size: 0.875em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

}

.header__menu__dropdown__item:hover{
	background-color: var(--robotics-white-hover);
}

.header__submenu{
	margin-left: auto;
}

.header__submenu ul{
	display: flex;
	justify-content: row;
}

.header__submenu__item{
	user-select: none;
	cursor: pointer;
	transition: 0.2s all ease;
	font-family: 'Raleway', sans-serif;
	font-size: 1.313rem;
	font-weight: 500;
	list-style-type: none;
	margin-left: 1.7rem;
	color: var(--robotics-dark);
	transition: 0.1s all ease;
}

.header__submenu__item:hover{
	color: var(--robotics-accent);
}

a{
	text-decoration: none;
	color: inherit;
}

.header__submenu__menu{
	display: none;
	font-size: 1.6em;
	cursor: pointer;
}

.header__mobile__menu ul li{
	list-style-type: none;
}

@media (max-width: 1700px){
	.header__submenu__item{
	font-size: 1.013rem;	
}
	.header__menu__item{
	font-size: 1.013rem;	
}
	.header__logo{
	width: 75px;
	height: auto;
	margin-right: 2.2em;
	}
}

@media (max-width: 1300px){
	.wrapper{
		    padding: 0px 6.625em 0px 6.625em;
	}
}

@media (max-width: 1150px){
	.header__submenu__item{
		margin-left: 1.4rem;
	}
	.header__menu__item{
		margin-right: 1.4rem;
	}
}

@media (max-width: 970px){
	
	.wrapper{
		    padding: 0px 4.625em 0px 4.625em;
	}
	.header__submenu__item{
		display: none;
	}
	.header__menu__item{
		display: none;
	}
	.header__menu__dropdown{
		display: none;
	}
	.header__submenu__menu{
	display: block;
}
}

@media (max-width: 700px){
	.wrapper{
		    padding: 0px 2.625em 0px 2.625em;
	}
}

@media (max-width: 380px){
	.wrapper{
		    padding: 0px 1.625em 0px 1.625em;
	}
}

.header__mobile__menu{
	position: absolute;
	top: 0px;
	left: 100%;
	width: calc(100% - 60px);
	height: calc(100vh - 80px);
	background-color: var(--robotics-dark);
	z-index: 100;
	transition: 0.3s all ease;
	display: flex;
	flex-direction: column;
	padding-top: 80px;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 30px;
	padding-right: 30px;
}

.header__mobile__menu ul{
	color: var(--robotics-white);
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 400;
}

.header__mobile__menu ul li{
	margin-bottom: 7px;
}

.header__mobile__menu--active{
	left: 0px !important;
}

.header__mobile__menu__exit{
	position: absolute;
	font-size: 1.6em;
	cursor: pointer;
	color: var(--robotics-white);
	top: 25px;
	right: 25px;
	width: auto;
	height: auto;
}