.header{
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header__logo{
	width: 88px;
	height: auto;
	margin-right: 4.313em;
}

.header__menu{
	display: flex;
	flex-direction: row;
}

.header__menu__item{
	user-select: none;
	cursor: pointer;
	transition: 0.2s all ease;
	font-family: 'Raleway', sans-serif;
	font-size: 1.313rem;
	font-weight: 400;
	list-style-type: none;
	margin-right: 1.7rem;
	color: var(--robotics-dark);
	transition: 0.1s all ease;
}

.header__menu__item:hover{
	color: var(--robotics-accent);
}

.header__menu__item--active{
	color: var(--robotics-accent);
}

.header__menu__item i{
	font-size: 1.013rem;
	opacity: 0.8;
}

.header__menu__dropdown{
	position: relative;
}


.header__menu__dropdown section{
	border-radius: 15px;
	background-color: var(--robotics-white);
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 35px;
	left: -16px;
}

.header__menu__dropdown__item{
	color: var(--robotics-dark);
	background-color: var(--robotics-white);
	padding: 4px 10px 4px 10px;
	cursor: pointer;
	transition: 0.2s all ease;
	white-space: nowrap;
	list-style-type: none;
	font-size: 0.875em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

}

.header__menu__dropdown__item:hover{
	background-color: var(--robotics-white-hover);
}

.header__submenu{
	margin-left: auto;
}

.header__submenu ul{
	display: flex;
	justify-content: row;
}

.header__submenu__item{
	user-select: none;
	cursor: pointer;
	transition: 0.2s all ease;
	font-family: 'Raleway', sans-serif;
	font-size: 1.313rem;
	font-weight: 500;
	list-style-type: none;
	margin-left: 1.7rem;
	color: var(--robotics-dark);
	transition: 0.1s all ease;
}

.header__submenu__item:hover{
	color: var(--robotics-accent);
}