.links {
    width: 100%;
    /*padding-top: 1.7em;*/
    padding-bottom: 1.7em;
    /*DELETE MARGIN*/
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.links__title {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 1.750em;
    color: var(--robotics-accent);
    margin-bottom: 1.7em;
}

.links__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 14.450em;
}

.links__nav{
	display: flex;
	flex-direction: row;
	padding-right: 20%;
}

.links__main__item {
    width: 80%;
    max-width: 14.450em;
    background-color: var(--robotics-white);
    color: var(--robotics-dark);
    white-space: nowrap;
    font-size: 0.875em;
    font-weight: 400;
    font-family: "Raleway", sanf-serif;
    padding: 1.014em;
    /*border: 1px solid #000; */
    border-radius: 15px;
    margin-bottom: 1.250em;
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.33);
    transition: 0.1s all ease;
}

.links__main__item--active {
    background-color: var(--robotics-white);
    color: var(--robotics-dark);
}

.links__main__item--active:hover{
	text-decoration: underline;
}

.links__text{
	display: none;
	margin-left: 40px;
	margin-bottom: 0;
	flex-direction: column;
}

.links__text__subtitle{
	font-size: 28px;
	font-weight: 500;
    font-family: "Raleway", sanf-serif;
    margin-bottom: 21px;
}

.links__text__description{
	font-size: 14px;
	font-weight: 400;
    font-family: "Raleway", sanf-serif;
    margin-bottom: 28px;
}

@media (max-width: 680px) {
	.links__nav{
		width: 100%;
	}
}

@media (min-width: 680px) {
	.links__text{
	display: flex;
}
    .links__main__item--active {
        background-color: var(--robotics-accent);
        color: var(--robotics-white);
    }
}