.gallery{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 3.750em;
	margin-bottom: 3.750em;
}

.gallery__grid{
	width: 75%;
	height: auto;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 200px 200px 200px;
}

.gallery__grid__vid{
	background-color: red;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 4;
}

.gallery__grid__vid iframe {
  
}

.gallery__grid__thumb{
	/*background-color: yellow;*/
	display: flex;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;	
}

.gallery__grid__thumb-ph0{
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

.gallery__grid__thumb-ph1{
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
}


.gallery__grid__thumb-ph2{
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
}