.display-none{
	display: none !important;
}

.rotate{
	transform: rotate(180deg);
}

*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: var(--robotics-white);
	min-width: 300px;
	overflow-x: hidden;
	width: 100%;
}

@media(max-width: 300px){
	body{
		width: 300px !important;
	}
}

.wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 125.000em;
	padding: 0px 10.625em 0px 10.625em;
}

.arrow-left{
	/*transition: 0.3s all ease;*/
	transform: rotate(-90deg);
}

.projects{
	width: 100%;
	display: grid;
	grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
	grid-template-rows: 200px 200px;
}

.projects__item{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
}

.projects__item:hover .projects__item__dark{
	opacity: 0.6;
}

.projects__item__dark{
	transition: 0.3s all ease;
	background-color: #000000;
	opacity: 0.4;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}